<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Deployment</h1>
    <p>This is an overview of the solutions installed on this puppet master. This is a mockup for design purposes showcasing the user features for managed services.</p>
  </div>

  <div class="page-header">
    <h1>Solutions</h1>
  </div>
  <div class="row">

      {{solutions-list solutions=getSolutions class="solution-list"}}

  </div>

</div> <!-- container -->
