{{#each solutions as |solution| }}
<li>{{#link-to 'show-solution' solution.id}}{{solution.name}}{{/link-to}}</li>
{{/each}}
<li role="separator" class="divider"></li>
<li class="dropdown-header">Nav header</li>
<li><a href="#">Separated link</a></li>
<li><a href="#">One more separated link</a></li>
