<!-- Fixed navbar -->
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Prototype Deply</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'show-solutions'}}Solutions{{/link-to}}</li>
      <li>{{#link-to 'about-profile'}}About{{/link-to}}</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>

        {{solutions-nav solutions=solutions}}

      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
