<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Solution {{solution.name}}</h1>
    <p>This is an overview of the solutions installed on this puppet master. This is a mockup for design purposes showcasing the user features for managed services.</p>
  </div>

</div> <!-- container -->
